
.fade-enter {
  opacity: 0;
  position: absolute; // setting the position absolute allows overlapping of fade out-in
  top: 0;
  will-change: opacity;
}

.fade-enter-active {
  opacity: 1;
  position: absolute;
  top: 0;
  transition: opacity 600ms ease-in-out;
}

.fade-exit {
  will-change: opacity;
  position: absolute;
  top: 0;
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 600ms ease-in-out;
}